/*Universal Selector*/
* {
    box-sizing: border-box;
}

/*Element Selector*/
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Class Selector*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(1, 1, 29);
}

/*Class Selector*/
.header h1 {
    color: black;
    background-color: rgb(84, 189, 237);
}
/*Element Selectors*/
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
/*spacing between nav elements*/
    margin-left: 25px;
    font-size: 20px;
}

nav a {
    color: rgb(84, 189, 237);
    text-decoration: underline;
    background-color: transparent;
}

nav a:hover {
    color: rgb(6, 127, 85);
    background-color: transparent;
}

/*Class Selector for image*/
.jesse {
    height: 400px;
    width: 100%;
    background-image: url("https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-100679.jpg?w=900&t=st=1675657541~exp=1675658141~hmac=59f5c2e42ed051f32712e3dbc4597351e5871b96dad796612b11ff8f3de47e0a");
    display: block;
}

/*Class Selector*/
.avatar {
    height: 250px;
    width: 25%;
}

/*Element Selector*/
section {
    display: flex;
    flex-direction: column;
}

/*Class Selector*/
.row {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
}

/*Class Selector for the headings on left side of parent container*/
.header-column {
    flex-basis: 10%;
    margin: 15px;
    padding: 10px;
    border-right: 3px solid black;
    text-align: right;
}

/*Class Selector for the content on left side of parent container*/
.content-column {
    flex-basis: 75%;
}

/*Class Selector*/
.flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
}

/*Class Selector*/
.image-fluid {
    height: 400px;
    width: 100%;
}

/*ID Selector*/
#image-1 {
    width: 100%;
}

/*Class Selector*/
.project {
    flex-basis: calc(50% - 5px);
}

/*Class Selector*/
.contact ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-decoration: underline;
}

/*Element Selectors*/
div li {
    color: rgb(84, 189, 237);
    text-decoration: underline;
}

div li:hover {
    color: rgb(6, 127, 85);
}

/*Fitted for screens 992px and smaller*/
@media  screen and (max-width: 992px) {
    .header {
        background-color: rgb(49, 4, 49);
    }
}

/*Fitted for screens 768px and smaller*/
@media screen and (max-width: 768px) {
    .header {
        background-color: rgb(3, 55, 3);
    }   
    .project, .project:first-child {
    flex-basis: 100%;
   }
    
}

/*Fitted for screens 576px and smaller*/
@media screen and (max-width: 576px) {
    .header {
        background-color: rgb(3, 3, 249);
    }
    .project, .project:first-child {
        flex-basis: 100%;
    }
}
















