/*Universal Selector*/
* {
    box-sizing: border-box;
    background-color: white;
}

/*Element Selector*/
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Element Selector*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(1, 1, 29);
}

.header h1 {
    color: black;
    background-color: white;
}
/*Element Selector*/
nav {
    background-color: transparent;
}
nav ul {
    list-style-type: none;
    background-color: transparent;
}

nav ul li {
    display: inline-block;
/*spacing between nav elements*/
    margin-left: 25px;
    font-size: 20px;
    background-color: transparent;
}

nav a {
    color: black;
    text-decoration: underline;
    background-color: transparent;
}

nav a:hover {
    color: rgb(84, 189, 237);
    background-color: transparent;
}

.jesse {
    height: 400px;
    width: 100%;
    background-image: url("https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-100679.jpg?w=900&t=st=1675657541~exp=1675658141~hmac=59f5c2e42ed051f32712e3dbc4597351e5871b96dad796612b11ff8f3de47e0a");
    display: block;
}


section {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
}

.header-column {
    flex-basis: 10%;
    margin: 15px;
    padding: 10px;
    border-right: 3px solid black;
    text-align: right;
}

.content-column {
    flex-basis: 75%;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
}

.image-fluid {
    height: 60%;
    width: 100%;
}

#image-1 {
    width: 100%;
}


.project {
    flex-basis: calc(50% - 5px);
}


.contact ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly; 
}

div li {
    color: black;
}

div li:hover {
    color: rgb(84, 189, 237);
}

















